<form id="invitation-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
    <!-- NameGame input -->
    <div class="form-group" [class.was-validated]="id.dirty || id.touched">
      <label class="control-label" for="player">Id*</label>
      <input id="player" name="id" type="text" class="fogitrm-control" required
             [(ngModel)]="invitation.id" #id="ngModel">
      <div class="invalid-feedback">A id is required</div>
    </div>

    <!--<div class="form-group" [class.was-validated]="uri.dirty || uri.touched">-->
      <!--<label class="control-label" for="uri">Uri*</label>-->
      <!--<input id="uri" name="player" type="text" class="form-control" required-->
             <!--[(ngModel)]="invitation.uri" #uri="ngModel">-->
      <!--<div class="invalid-feedback">A uri is required</div>-->
    <!--</div>-->

    <div class="form-group" [class.was-validated]="message.dirty || message.touched">
      <label class="control-label" for="message">Message*</label>
      <input id="message" name="message" type="text" class="form-control" required
             [(ngModel)]="invitation.message" #message="ngModel">
      <div class="invalid-feedback">A message is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" [routerLink]="['/invitation']" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>
  </fieldset>
</form>
