<div class="row justify-content-between">
  <div class="col mb-3">
    <app-game-search (emitResults)="showSearchResults($event)" [games]="games"></app-game-search>
  </div>
  <div class="col mb-3">
    <button id="newUserBtn" class="btn btn-success pull-right" type="button"
            [routerLink]="['/games/new']">Create Game</button>
  </div>
</div>

<div class="card mb-1" *ngFor="let game of games">
  <div class="card-block row m-1">
    <h4 class="card-title col-md-12 p-1"><a [routerLink]="[game.uri]">{{game.name}}</a></h4>
    <div class="col-md-4 p-1">
      <h6 class="card-subtitle text-muted"><i class="fa fa-ghost fa-sm prefix grey-text"></i>Number Of Players</h6>
      <p class="card-text">{{game.numberofplayers}}</p>
    </div>
    <div class="col-md-4 p-3">
      <h6 class="card-subtitle text-muted">Price</h6>
      <p class="card-text">{{game.price}}</p>
    </div>
    <div class="col-md-4 p-1">
      <button type="button" class="btn m-1 btn-outline-primary pull-right" [routerLink]="[game.uri]">Details</button>
    </div>
    <div class="col-md-4 p-1">
      <button type="button" class="btn m-1 btn-outline-primary pull-left" (click)="[gameService.joinGame(game)]">Join Game</button>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{games.length}} out of { totalGames, plural,
  =1 {1 games}
  other { {{totalGames}} games} }</p>
