<form id="game-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- NameGame input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="name">Game's Name*</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="game.name" #name="ngModel">
      <div class="invalid-feedback">A name is required</div>
    </div>

    <div class="form-group" [class.was-validated]="bingoPrize.dirty || bingoPrize.touched">
      <label class="control-label" for="bingoPrize">Game's prize*</label>
      <input id="bingoPrize" name="bingoPrize" type="text" class="form-control" required
             [(ngModel)]="game.bingoPrize" #bingoPrize="ngModel">
      <div class="invalid-feedback">A prize is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" [routerLink]="['/games']" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>
  </fieldset>
</form>
